body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url(https://i.scdn.co/image/ab6761610000e5eb4f5e48c7e3b979fa56de1403);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.a {
  background-image: url(https://cdns-images.dzcdn.net/images/artist/e2f90f2f5ff19404cb530422c42b53ab/500x500.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.s {
  background-image: url(https://upload.wikimedia.org/wikipedia/tr/thumb/c/ca/Ankaral%C4%B1_Nam%C4%B1k.jpg/640px-Ankaral%C4%B1_Nam%C4%B1k.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.d {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTU7m459KCJ8qr2V0oMofbQYE-y5UYXBoi1niAkSblpOA&s);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.j {
  background-image: url(https://pbs.twimg.com/profile_images/573136396510236672/ISGswhKH_400x400.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.k {
  background-image: url(https://cdns-images.dzcdn.net/images/cover/0540f5e516021c905e7b27a3c0839dd6/1900x1900-000000-80-0-0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.l {
  background-image: url(https://lastfm.freetls.fastly.net/i/u/ar0/545964a28b92473fc7e0dfb7d369d5fc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 2rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: bottom;
  margin: 10px;
  background-color: white;
}
